<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Listado de Proveedor</h4>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <input [(ngModel)]="filterValue" matInput class="form-control" style="display: initial;width: auto;"
                        type="text" placeholder="Buscar Proveedor">
                    <button class="btn btn-primary btn-lg float-right" style="padding: 1rem;"
                        routerLink="/create-proveedor">Agregar</button>
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <h4 *ngIf="proveedors.length == 0">No hay datos para mostrar</h4>
                                <table *ngIf="proveedors.length > 0" class="table">
                                    <thead class=" text-primary">
                                        <th>
                                            Nombre Contacto
                                        </th>
                                        <th>
                                            Empresa
                                        </th>
                                        <th>
                                            Ciudad
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Telefonó
                                        </th>
                                        <th>
                                            Opciones
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let proveedor of proveedors | filterProveedor: filterValue | slice:desde:hasta">
                                            <td>
                                                {{ proveedor.nombreContacto }}
                                            </td>
                                            <td>
                                                {{ proveedor.empresa }}
                                            </td>
                                            <td>
                                                {{ proveedor.ciudad }}
                                            </td>
                                            <td>
                                                {{ proveedor.email }}
                                            </td>
                                            <td>
                                                {{ proveedor.telefono }}
                                            </td>

                                            <td class="text-primary">
                                                <!-- <img [routerLink]="['/editProducto/', producto.id]"
                                                    src="https://incontactostorageprod.blob.core.windows.net/subirm/16504985398181650498539818.png"
                                                    style="width: 25px;margin-right: 1rem;" alt="">
                                                <img (click)="eliminarProducto(producto.id)"
                                                    src="https://incontactostorageprod.blob.core.windows.net/subirm/16504986570091650498657009.png"
                                                    style="width: 25px;" alt=""> -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- <mat-paginator [length]="productos.length" [pageSize]="pageSize"
                                    (page)="cambiarPagina($event)">
                                </mat-paginator> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>