<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Listado de Productos</h4>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <button class="btn btn-dark btn-lg float-right" style="padding: 1rem;" routerLink="/create-product">Agregar</button>
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <h4 *ngIf="productos.length == 0">No hay datos para mostrar</h4>
                                <table *ngIf="productos.length > 0" class="table">
                                    <thead class=" text-primary">
                                        <th>
                                            Nombre
                                        </th>
                                        <th>
                                            Precio
                                        </th>
                                        <th>
                                            Talla
                                        </th>
                                        <th>
                                            Descripción
                                        </th>
                                        <th>
                                            Categoria
                                        </th>
                                        <th>
                                            Opciones
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let producto of productos">
                                            <td>
                                                {{ producto.nombre }}
                                            </td>
                                            <td>
                                                {{ producto.precio | currency }}
                                            </td>
                                            <td>
                                                {{ producto.talla }}
                                            </td>
                                            <td>
                                                {{ producto.categoria }}
                                            </td>
                                            <td>
                                                {{ producto.descripcion }}
                                            </td>
                                            <td class="text-primary">
                                                <img [routerLink]="['/editProducto/', producto.id]" src="https://incontactostorageprod.blob.core.windows.net/subirm/16504985398181650498539818.png" style="width: 25px;margin-right: 1rem;" alt="">
                                                <img (click)="eliminarProducto(producto.id)" src="https://incontactostorageprod.blob.core.windows.net/subirm/16504986570091650498657009.png" style="width: 25px;" alt="">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>