<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Categorias</h4>
            </div>

            <div class="card text-center" style="display: flex;flex-direction: row;">
                <div class="card-body"><img _ngcontent-lnd-c104="" src="../../../assets/img/logo_jeans.jpg"
                        alt="LogoJeans" style="width: 40%; border-radius: 50%;">
                    <h3 class="card-title">Pantalones</h3><a _ngcontent-lnd-c104="" href="#"
                        class="btn btn-primary">Editar Categoria</a>
                </div>
                <div class="card-body"><img _ngcontent-lnd-c104="" src="../../../assets/img/logo_jeans.jpg"
                        alt="LogoJeans" style="width: 40%; border-radius: 50%;">
                    <h3 class="card-title">Pantalones</h3><a _ngcontent-lnd-c104="" href="#"
                        class="btn btn-primary">Editar Categoria</a>
                </div>
                <div class="card-body"><img _ngcontent-lnd-c104="" src="../../../assets/img/logo_jeans.jpg"
                        alt="LogoJeans" style="width: 40%; border-radius: 50%;">
                    <h3 class="card-title">Pantalones</h3><a _ngcontent-lnd-c104="" href="#"
                        class="btn btn-primary">Editar Categoria</a>
                </div>
                <div class="card-body"><img _ngcontent-lnd-c104="" src="../../../assets/img/logo_jeans.jpg"
                        alt="LogoJeans" style="width: 40%; border-radius: 50%;">
                    <h3 class="card-title">Pantalones</h3><a _ngcontent-lnd-c104="" href="#"
                        class="btn btn-primary">Editar Categoria</a>
                </div>
            </div>

        </div>
    </div>
</div>